@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-boletos {
    background-color: v.$verde;

    h3 {
        color: v.$blanco;
    }

    .boletos {
        @include m.contenedor();
        @include m.tablet {
            @include m.grid(2);
        }
    }
}

.pase {
    transition: transform .3s ease-in-out; //A que le quiero aplicar esa transicion
    &:hover {
        transform: scale(1.1); //Para que se agrande a un 110%, el .1 el un 10%
    }
    
    &-nombre {
        font-size: 3rem;
        font-weight: 900;
        text-align: center;
        color: v.$blanco;
    }

    &-header, &-footer {
        padding: 0.5rem;

        p {
            text-align: center;
            margin: 0;
            color: v.$blanco;
        }
    }

    &-header {
        background-color: v.$rosa;

        p {
            font-size: 2.2rem;
            text-transform: uppercase;
            padding: 1rem 0;
        }
    }

    &-body {
        background-color: v.$blanco;

        ul {
            @include m.resetear-lista();

            li {
                padding: 2rem;
                border-bottom: 1px solid #e1e1e1;
            }
        }
    }

    &-footer {
        padding: 3rem;
        background-color: v.$blanco;
        p {
            font-size: 2.8rem;
            font-weight: 900;
            background-color: v.$morado;
            border-radius: 1rem;
            padding: 1rem 0;
            cursor: pointer;
            transition: transform .3s ease-in-out;

            &:hover {
                background-color: v.$morado-oscuro;
                transform: scale(1.1);
            }
        }
    }
}